*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url("assests/bg-faint-orange.svg");
}

.container1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* input box */


/* slider */
.slider{
    width: 285px;
    height: 4px;
    cursor: pointer;
}